@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #6f61da;
  --secondary-color: #59c3c3;
  --accent-color: #ffffff;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Mooli", sans-serif;
}

body {
  margin: 0 auto;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1.2em;
  justify-content: center;
  background-color: #f5f5f5;
}

main {
  text-align: center;
  margin: 0 auto;
}

header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1em;
  font-size: 1em;
  font-family: var(--secondary-font);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.one {
  display: block; 
}

.two {
  display: none; 
  font-size: 1em;
  color: white;
  border: 2px solid var(--accent-color);
  margin: 0 auto;
  border-radius: 20px;
  padding: 8px 16px;
  background: transparent;
  cursor: pointer;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .one {
    display: none;
  }
  .two {
    display: block;
  }
}

.one.show {
  display: block;
  text-align: left;
  padding: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-content: center;
  margin: 0 auto;
}

.gallery figure {
  margin: 10px;
}

.gallery img {
  border-radius: 1px;
  border-width: 10px;
  border-color: white;
  border-style: solid;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  max-width: 250px;
  height: 250px;
  display: block;
  margin: auto;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .gallery img {
    width: 100%;
    height: auto;
  }

  header {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 700px) {
  .gallery {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .gallery img {
    width: 100%;
    height: auto;
  }

  header {
    font-size: 0.8em;
  }
}

.viewer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.viewer img {
  height: 50%;
  width: 50%;
  object-fit: contain;
}

.close-viewer {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  align-self: start;
  padding: 1rem;
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
}

@media screen and (max-width: 700px) {
  .close-viewer {
    font-size: 1.5rem;
    right: 10px;
  }
}

a:link,
a:visited {
  color: var(--accent-color);
}

footer {
  background-color: var(--primary-color);
  color: white;
  font-size: 1em;
  text-align: center;
  padding: 1em;
  font-family: var(--secondary-font);
  margin-top: 100px;
}

footer h2 {
  font-size: 1em;
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
}
