@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Amatic SC", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.placeholder {
    font-size: 1.5em;
}

body {
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

header h1 {
    font-size: 4rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100% auto;
}

.searchform {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 1px solid black;
}

.searchform div {
    display: flex;
    width: 100%;
}

.searchform input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 40px;
}

.searchform button {
    border: none;
    border-radius: 2px;
    height: 40px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: 30px;
    gap: 10px;
}

.social a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 10px 0;
}

.contribution {
    font-size: 1em;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

.logo {
    height: 100px;
}

.magnif {
    height: 20px;
}

/* --- Estilos para las recetas (MODIFICADOS) --- */

#recipe-container {
    display: flex;
    justify-content: center;
}

.recipe {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    max-width: 90%; /* Ajusta el ancho según sea necesario */
}

.recipe img {
    width: 700px; /* La imagen ocupa la mitad del contenedor */
    height: 500px;
}

.recipe figcaption {
    padding: 20px;
    max-width: 50%; 
    font-size: 1.5em; 
}

.recipe figcaption h2 {
    color: #095353;
    font-size: 2em; 
}

.recipe figcaption .recipe__description {
    font-size: 1em; 
}

.recipe figcaption .recipe__tags {
    list-style: none; 
    padding: 0;
}

.recipe figcaption .recipe__tags li {
    display: inline-block; 
    border: 1px solid black;
    padding: 2px;
    margin-right: 5px; 
}

.recipe figcaption .recipe__ratings {
    margin-top: 10px;
}

@media screen and (max-width: 1023px) { /* Para pantallas menores a 1024px */
    .recipe {
        flex-direction: column; /* Cambia la dirección del flex a columna */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .recipe img {
        width: 100%; /* La imagen ocupa todo el ancho */
        max-width: 700px; /* Limita el ancho máximo de la imagen */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .recipe figcaption {
        max-width: 100%; /* El texto ocupa todo el ancho */
        padding: 20px;
    }
}

@media screen and (min-width: 1024px) {
    header {
        justify-content: center;
        padding: 0 50px;
    }

    .searchform {
        width: 80%;
    }

    .articlecontent {
        display: flex;
        width: 80%;
    }

    .apple {
        max-width: 50%;
        margin: 0;
    }

    .textofarticle h2 {
        color: #095353;
        font-size: 2em;
    }

    .textofarticle {
        max-width: 50%;
        padding: 20px;
        font-size: 1.5em;
    }

    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding-left: 50px;
    }

    .contribution {
        margin-top: 0;
        width: auto;
        padding-left: 0;
    }

    .social {
        justify-content: flex-end;
    }

    .social a {
        margin-bottom: 0;
    }
}